.chartWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.chartControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 2em;
}
