.racingBarWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}
